<!-- Modal -->
div(class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div(class="modal-dialog" )
    div(class="modal-content bg-light" style="border-radius:25px")
      div(class="modal-body")
        form(action="/", method="post") 
            input.form-control.shadow-none.fs-6.border-0(type="text" style="border-radius:10px" placeholder="   enter your task ... " name="task")
      