body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.task-list .hover-menu{
  display:none!important;
}
.task-list:hover .hover-menu {
  display:flex!important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  /* border-radius: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}